body {
  background-color: #bcbcbc;
  height: 100vh;
}
label,
select {
  display: block;
  margin-top: 2rem;
}
.button-creator {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
}
.controles {
  background-color: #eee;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 2rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0 0.1);
}

.css {
  font-family: "IBM Plex Mono", monospace;
  color: #333;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.css span {
  display: block;
  margin-bottom: 0.5rem;
}
